:root{
    --navbar-height:0;
    --base-color:#D1D8DF;
    --primary-color: #E8E8E8;
    --secondary-color:#A4866B;
    --text-color:grey;
}
html{
    width:100%;
    height:100%;
    color:var(--text-color);
    background:var(--base-color);
    /*Hides banner bar extras*/
    overflow-x:hidden;
}
*{
    padding:0;
    margin:0;
    /*Makes it so that meausrment such as borders are included in overall width*/
    box-sizing:border-box;
  
  }
.coming-soon{
    margin: auto 5%;
}
/*Styling for banner*/
.banner-slider{
    padding:1vh;
    background-color:var(--text-color) !important;
    text-align:center;
    color:var(--base-color);
    display:flex;
    animation:banner-slider 16s infinite;
    width:300%;
}
.banner{
    text-align:center;
    width:100%;
}
@keyframes banner-slider{
    0%{
        transform:translateX(0);
    }
    25%{
        transform:translateX(0);
    }
    30%{
        transform:translateX(-33%);
    }
    75%{
        transform:translateX(-33%);
    }
    80%{
        transform:translateX(-66%);
    }
    100%{
        transform:translateX(-66%);
    }
  
}
/*Styling for header*/
.colby-logo{
    max-width:7vh;
    max-height:7vh;
    object-fit:fill;
    
}
li{
    /*Gets rid of bullet points for unordered list elements*/
    list-style:none;
  }
  
a{
    display:inline;
    color:var(--secondary-color);
    text-decoration:none;
  }
 
  .nav-link:hover{
    /*Increases font size when hovered over*/
    font-size:1.2rem;
  }
  
  @media(min-width:701px){
    .column1{
        width:20%;
        height:100vh;
        background:var(--primary-color);
        float:left;
        overflow:hidden;
        text-align:left;
        font-size:1.3em;
        display:flex;
    }
    .colby-logo{
        margin:3vh 3vh 0 3vh;
    }
    .nav-item{
        padding:3vh;
    }
    .column2{
        width:80%;
        height:100vh;
        float:right;
        background:var(--base-color);
        overflow:scroll;
    }
    .compress-image{
        width:5vw;
    }
    
    .compress-name{
        width:20vw;
    }
  }
  @media(max-width:700px){
    .navbar{
        display:flex;
        justify-content: space-between;
        height:10vh;
        padding:2vh 0 2vh 0;
        margin:0 5%;
        align-items:start;
    
      }
      .bar{
        display:block;
        width:25px;
        height:3px;
        background-color:var(--secondary-color);
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
      }
    .hamburger{
        cursor:pointer;
        display:block;
        z-index:2;
    }
    .hamburger.active .bar:nth-child(2){
      opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
      transform:translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
      transform:translateY(-8px) rotate(-45deg);
    }
    .nav-menu.active{
        position:absolute;
        /*Hides menu from view*/
        top:var(--navbar-height);
        gap:0;
        flex-direction:column;
        justify-content:flex-start;
        width:40%;
        height:100%;
        left:0;
        transition:0.3s;
        background-color:var(--primary-color);
        z-index:1;
      }
      .nav-item:first-of-type{
        margin:10vh 5vh 5vh 5vh;
      }
      .nav-item{
        margin:5vh;
      
      }
      /* .nav-menu.active{
        left:0;
      } */
  }
/*End of styling for header*/
/*styling for photo carousel*/
.slider{
    width:90%;
    margin: auto;
    overflow:hidden;
    border: 3px solid var(--primary-color);

}
.wrapper{
    width:100%;
    display:flex;
    animation:slider 16s infinite;
}
@keyframes slider{
    0%{
        transform:translateX(0);
    }
    25%{
        transform:translateX(0);
    }
    30%{
        transform:translateX(-100%);
    }
    50%{
        transform:translateX(-100%);
    }
    55%{
        transform:translateX(-200%);
    }
    75%{
        transform:translateX(-200%);
    }
    80%{
        transform:translateX(-300%);
    }
    100%{
        transform:translateX(-300%);
    }
}


.slider img{
    width:100%;
}
/*end of styling for photo carousel*/
/*Styling for main elements*/
.section-header{
    margin:auto 5%;

    font-size:1.5em;
}

/*Schedule styling*/
.schedule-logo{
    max-width:8vh;
    max-height:8vh;
    object-fit:fill;
    
}
table{
    width:90%;
    margin:0 5%;
    /*Gets rid of all the borders for tr*/
    border-collapse:collapse
}
/*Have some schedule settings in bigger screen view*/
.row{
    height:10vh;
}
.row:nth-child(odd){
    background-color:var(--primary-color);
}
.vs{
    background-color:var(--secondary-color);
    color:var(--primary-color);
    padding:0 4px;
    font-size:0.7em;
}
.at{
    font-size:0.7em;
    background-color:var(--text-color);
    color:var(--primary-color);
    padding:0 4px;
}
/*End of schedule*/
/*Contact us section*/
.contact-us{
    display:flex;
    width:90%;
    margin: auto 5%;
    align-content:center;
}

input, textarea{
    margin:10px 0 0 0;
    width:90%;
    min-height:2em;
    background-color:var(--primary-color);
    border:3px solid var(--primary-color);
    color:var(--text-color);
  

}
input[type="submit"]{
    background-color:var(--secondary-color);
    color:var(--primary-color);
}
/*End of styling for contact us*/
/*Styling for announcements*/

/*icon styling*/
i{
    color:var(--secondary-color);
    padding:1vw;
}
.social-icons{
    margin:5%;

}
